<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver&Agir</title>
    <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
</head>
<body>
    <main class="main-page">
        <header>
            <img src="{{ asset('build/images/logoprogeo.png') }}" alt="logo_progeo">
            <h1>Ver&Agir</h1>
        </header>
        
        <form action="{{ path('process_pag01') }}" method="POST">
    <div class="form-group">
        <label for="campo1">Campo 1:</label>
        <input type="text" name="campo1" id="campo1">

        <label for="campo2">Campo 2:</label>
        <input type="text" name="campo2" id="campo2">
    </div>
    <button type="submit">Enviar</button>
</form>

    </main>
    
    <footer>
        <p>©PROGEO ENGENHARIA 2024</p>
    </footer>
    <script src="{{ asset('scripts.js') }}"></script>
</body>
</html>
